.container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 120px;
}

.rightColumn {
  position: relative;
}

.leftColumn {
  gap: 25px;
  display: flex;
  flex-direction: column;
}

@media (max-width: 767px) {
  .container {
    grid-template-columns: 1fr;
    grid-gap: 0;
  }

  .leftColumn {
    margin-bottom: 20px;
  }
}