:root {
  --color-primary: rgba(47,64,73,1);
  --color-secondary: rgba(47,64,73,0.5);
  --color-button: rgb(73, 41, 117);
}

html,
body {
  padding: 0;
  margin: 0;
  font-family: Inter;
  color: var(--color-primary);
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

h2 {
  font-size: 26px;
  margin: 0;
}

h3 {
  font-size: 14px;
  margin: 0;
}

.centered {
  width: 88vw;
  max-width: 88vw;
  margin: 0 auto;
}